<aside id="sidebar-wrapper">

    <div class="sidebar-brand">
        <h2>UMS</h2>
    </div>

    <ul class="sidebar-nav">
        <li class="<% if (page_name === 'overview') { %>
            dropdown active
            <%} else { %>
            dropdown
            <% } %>">
            <a class="ddbtn" href="/admin/dashboard"><i class="fa fa-home"></i>Overview</a>
        </li>
        <li class="<% if (page_name === 'profile') { %>active<% } %>">
            <a href="/admin/profile"><i class="fa fa-id-card"></i>Profile</a>
        </li>

        <li class="<% if (page_name === 'staff') { %>
            dropdown active
            <%} else { %>
            dropdown
            <% } %>">
            <a class="ddbtn" href="#"><i class="fa fa-chalkboard-teacher"></i>Manage Staffs</a>
            <div class="dropdown-content">
                <a href="/admin/addStaff">Add New Staff</a>
                <a href="/admin/getStaff">Staff Settings</a>
            </div>
        </li>


        <li class="<% if (page_name === 'students') { %>
            dropdown active
            <%} else { %>
            dropdown
            <% } %>">
            <a class="ddbtn" href="#"><i class="fa fa-book-reader"></i>Manage Students</a>
            <div class="dropdown-content">
                <a href="/admin/addStudent">Add New Student</a>
                <a href="/admin/getStudent">Student Settings</a>
            </div>
        </li>

        <li class="<% if (page_name === 'courses') { %>
            dropdown active
            <%} else { %>
            dropdown
            <% } %>">
            <a class="ddbtn" href="#"><i class="fa fa-award"></i>Manage Courses</a>
            <div class="dropdown-content">
                <a href="/admin/addCourse">Add New Course</a>
                <a href="/admin/getCourse">Course Settings</a>
            </div>
        </li>

        <li class="<% if (page_name === 'classes') { %>
            dropdown active
            <%} else { %>
            dropdown
            <% } %>">
            <a class="ddbtn" href="#"><i class="fa fa-chalkboard"></i>Manage Classes</a>
            <div class="dropdown-content">
                <a href="/admin/addClass">Add New Class</a>
                <a href="/admin/getClass">Class Settings</a>
            </div>
        </li>

        <li class="<% if (page_name === 'clubs') { %>
            dropdown active
            <%} else { %>
            dropdown
            <% } %>">
            <a class="ddbtn" href="#"><i class="fa fa-school"></i>Manage Clubs</a>
            <div class="dropdown-content">
                <a href="/admin/addClub">Add New Club</a>
                <a href="/admin/getClubs">Club Settings</a>
            </div>
        </li>

        <li class="<% if (page_name === 'scholarships') { %>
            dropdown active
            <%} else { %>
            dropdown
            <% } %>">
            <a class="ddbtn" href="#"><i class="fa fa-school"></i>Manage Scholarships</a>
            <div class="dropdown-content">
                <a href="/admin/addScholarship">Add New scholarship</a>
                <a href="/admin/getScholarships">Scholarship Settings</a>
            </div>
        </li>

        <li class="<% if (page_name === 'payments') { %>
            dropdown active
            <%} else { %>
            dropdown
            <% } %>">
            <a class="ddbtn" href="#"><i class="fa fa-school"></i>View Payments</a>
            <div class="dropdown-content">
                <a href="/admin/getPayments">View Payments</a>
            </div>
        </li>

        <!-- Manage Internships -->
        <li class="<% if (page_name === 'internships') { %> dropdown active <% } else { %> dropdown <% } %>">
            <a class="ddbtn" href="#"><i class="fa fa-briefcase"></i>Manage Internships</a>
            <div class="dropdown-content">
            <a href="/admin/addInternship">Add New Internship</a>
            <a href="/admin/getInternships">Internship Settings</a>
            </div>
        </li>
        
        <!-- Manage Exams -->
        <li class="<% if (page_name === 'exams') { %> dropdown active <% } else { %> dropdown <% } %>">
            <a class="ddbtn" href="#"><i class="fa fa-pencil-alt"></i>Manage Exams</a>
            <div class="dropdown-content">
            <a href="/admin/addExam">Add New Exam</a>
            <a href="/admin/getExams">Exam Settings</a>
            </div>
        </li>
        
        <!-- Manage Alumni -->
        <li class="<% if (page_name === 'alumni') { %> dropdown active <% } else { %> dropdown <% } %>">
            <a class="ddbtn" href="#"><i class="fa fa-graduation-cap"></i>Manage Alumni</a>
            <div class="dropdown-content">
            <a href="/admin/addAlumni">Add New Alumni</a>
            <a href="/admin/getAlumni">Alumni Settings</a>
            </div>
        </li>
        
        <!-- Manage Parent Contact -->
        <li class="<% if (page_name === 'parentContact') { %> dropdown active <% } else { %> dropdown <% } %>">
            <a class="ddbtn" href="#"><i class="fa fa-user"></i>Manage Parent Contact</a>
            <div class="dropdown-content">
            <a href="/admin/addParentContact">Add New Parent Contact</a>
            <a href="/admin/getParentContacts">Parent Contact Settings</a>
            </div>
        </li>
  



        <hr>
    </ul>
</aside>

<div id="navbar-wrapper" style="position: fixed;">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i></a>
            </div>
        </div>
    </nav>
</div>